application/cache
pix/
interrater/*.xlsx
interrater/a/
interrater/b/
interrater/random
python/twitter_credentials.py
python/unused/
python/twitter_credentials_fullarchive.py
python/__pycache__
scripts/__pycache__
data/
*.pptx
contracts/
readings/
docs/
gensim/
R/
final_classification/results/
.Rproj.user
